.table {
  thead th {
    border-bottom: 1px solid $border-color-default;
  }

  th, td {
    border-color: $border-color-default;
  }
}

.table-striped {
  tbody tr:nth-of-type(odd) {
    background-color: $striped-bg-color;
  }
}

.table-hover {
  tbody tr {
    @include hover {
      background-color: $striped-bg-color-hover;
    }
  }
}

@include media-breakpoint-down($grid-float-breakpoint-max) {
  .table-responsive {
    /* Force table to not be like tables anymore */
    thead, tbody, th, tr {
      display: block;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr {
      position: absolute;
      top: -9999px;
      left: -9999px;
    }

    tr {
      border: 1px solid $border-color-default;
      margin-bottom: .5rem;
    }

    /* Behave like a "row" */
    td {
      border: none;
      border-bottom: 1px solid $border-color-default;
      position: relative;
      //padding-left: 50%;
      white-space: normal;
      text-align: left;

      display: flex;
      align-items: start;
      flex-direction: column;

      &:before {
        // position: absolute; /* Now like a table header */

        /* Top/left values mimic padding */
        //top: 6px;
        //left: 6px;
        //width: 45%;
        //padding-right: 10px;
        white-space: nowrap;
        text-align: left;
        font-weight: bold;
        content: attr(data-title); /* Label the data */

        font-size: $font-size-small;
        padding-bottom: .5rem;
        color: $color-2;
        opacity: .5;
      }
    }
  }
}
