<clr-datagrid>
  <clr-dg-column>Title</clr-dg-column>
  <clr-dg-column>Business Idea</clr-dg-column>
  <clr-dg-column>Edit</clr-dg-column>

  <clr-dg-placeholder>We couldn't find any ideas!</clr-dg-placeholder>

  <!-- <clr-dg-row *clrDgItems="let idea of ideas" [routerLink]="[idea.id]"> -->
  <clr-dg-row *clrDgItems="let idea of ideas" (click)="openIdeaModal(idea)">
    <clr-dg-cell>{{ idea.title }}</clr-dg-cell>
    <clr-dg-cell>{{ idea.businessIdea | slice: 0:50 }} ...</clr-dg-cell>
    <clr-dg-cell><clr-icon shape="note"></clr-icon></clr-dg-cell>
  </clr-dg-row>

  <clr-dg-footer>
    <clr-dg-pagination #pagination [clrDgPageSize]="10">
      <clr-dg-page-size [clrPageSizeOptions]="[10, 20, 50, 100]"
        >Ideas per page</clr-dg-page-size
      >
      {{ pagination.firstItem + 1 }} - {{ pagination.lastItem + 1 }} of
      {{ pagination.totalItems }} ideas
    </clr-dg-pagination>
  </clr-dg-footer>
</clr-datagrid>

<app-idea-seven-ws
  [modalOpen]="openModal"
  [idea]="selectedIdea"
  (modalClosed)="modalClosed($event)"
></app-idea-seven-ws>
