<div class="clr-row">
  <!-- search -->
  <form clrForm style="padding-right: .5rem; padding-left: .5rem; width: 100%;">
    <div class="clr-form-control" style="margin-top: 0px;">
      <div class="clr-control-container" style="width: 100%;">
        <div class="clr-input-wrapper">
          <input
            type="text"
            id="search"
            name="search"
            placeholder="Search ideas ..."
            class="clr-input"
            [(ngModel)]="searchString"
            style="width: 100%;"
          />
          <clr-icon
            class="clr-validate-icon"
            shape="exclamation-circle"
          ></clr-icon>
        </div>
      </div>
    </div>
  </form>

  <!-- cards-->
  <!-- ToDo: write custom css classes-->
  <ng-container *ngIf="ideas | ideaFilter: searchString as ideas2">
    <div *ngFor="let idea of ideas2" class="clr-col-12">
      <div
        (click)="onClick(idea)"
        class="card clickable"
        style="margin-top: 0.5rem;  overflow: hidden; min-height: 100px;"
      >
        <div
          class="card-block"
          style="padding-top: 0.5rem;
        padding-right: 0.5rem;
        padding-bottom: 0.5rem;
        padding-left: 0.5rem;"
        >
          <div
            style="width: 100%; position: absolute; left: 0px; top: 0px; background-color: #002538; height: .15625rem"
          ></div>
          <div class="card-title" style="display: flex; flex-direction: row;">
            <h5 style="margin-top: 0px; color: #002538;">
              {{ idea.title | customSlice: 0:30 }}
            </h5>
            <clr-icon
              shape="pencil"
              size="20"
              style="margin-left: auto; color: #002538;"
            ></clr-icon>
          </div>
          <p class="card-text">{{ idea.businessIdea | customSlice: 0:50 }}</p>
        </div>
      </div>
    </div>
    <div *ngIf="ideas2?.length === 0" class="clr-col-12">
      <clr-datagrid>
        <clr-dg-placeholder>We couldn't find any ideas!</clr-dg-placeholder>
      </clr-datagrid>
    </div>
  </ng-container>
</div>
