<div class="login-wrapper">
  <form class="login" clrForm (ngSubmit)="onSubmit()" ngNativeValidate>
    <section class="title">
      <h3 class="welcome">Welcome to</h3>
      Company Product Name
      <h5 class="hint">Use your Company ID to sign in or create one now</h5>
    </section>
    <div class="login-group">
      <clr-input-container>
        <input
          type="email"
          name="email"
          clrInput
          placeholder="eMail"
          [(ngModel)]="user.email"
          required
        />
        <!-- <clr-control-error *clrIfError="'required'"
          >Email Required</clr-control-error
        >
        <clr-control-error *clrIfError="'email'"
          >Email Invalid</clr-control-error
        > -->
      </clr-input-container>
      <clr-password-container>
        <input
          type="password"
          name="password"
          clrPassword
          placeholder="Password"
          [(ngModel)]="user.password"
          required
        />
        <!-- <clr-control-error *clrIfError="'required'"
          >Password Required</clr-control-error
        > -->
      </clr-password-container>
      <div class="error" [ngClass]="{ active: errorMessage }">
        {{ errorMessage }}
      </div>
      <button type="submit" class="btn btn-primary">Sign up</button>
      <a [routerLink]="['/login']" class="signup">Already have an account?</a>
    </div>
  </form>
</div>
