<div class="progress loop" *ngIf="ideasLoading"><progress></progress></div>
<!-- ToDo: add animation -->

<clr-datagrid [(clrDgSelected)]="selectedItems" [clrDgRowSelection]="true">
  <clr-dg-action-bar>
    <div class="btn-group">
      <button
        type="button"
        class="btn btn-sm btn-secondary"
        (click)="onCreateIdea()"
        [clrLoading]="createIdeaBtnState"
      >
        <clr-icon shape="plus"></clr-icon> Add Idea
      </button>
      <button
        [disabled]="selectedItems.length != 1"
        type="button"
        class="btn btn-sm btn-secondary"
        (click)="onEditIdea()"
      >
        <clr-icon shape="pencil"></clr-icon> Edit
      </button>
      <button
        [disabled]="selectedItems.length < 1"
        type="button"
        class="btn btn-sm btn-secondary"
        (click)="onDeleteIdeas()"
      >
        <clr-icon shape="close"></clr-icon> Delete
      </button>
    </div>
  </clr-dg-action-bar>

  <clr-dg-column>Title</clr-dg-column>
  <clr-dg-column>Business Idea</clr-dg-column>

  <clr-dg-placeholder>We couldn't find any ideas!</clr-dg-placeholder>

  <!-- <clr-dg-row *clrDgItems="let idea of ideas" [routerLink]="[idea.id]"> -->
  <clr-dg-row *clrDgItems="let idea of ideas" [clrDgItem]="idea">
    <clr-dg-cell>{{ idea.title }}</clr-dg-cell>
    <clr-dg-cell>{{ idea.businessIdea | slice: 0:50 }} ...</clr-dg-cell>
  </clr-dg-row>

  <clr-dg-footer>
    <clr-dg-pagination #pagination [clrDgPageSize]="10">
      <clr-dg-page-size [clrPageSizeOptions]="[10, 20, 50, 100]"
        >Ideas per page</clr-dg-page-size
      >
      {{ pagination.firstItem + 1 }} - {{ pagination.lastItem + 1 }} of
      {{ pagination.totalItems }} ideas
    </clr-dg-pagination>
  </clr-dg-footer>
</clr-datagrid>

<app-idea-seven-ws
  [modalOpen]="openModal"
  (modalClosed)="modalClosed($event)"
></app-idea-seven-ws>
