<!-- ./Footer - Stay in Touch -->
<footer class="site-footer section text-center block bg-1">
  <div class="container py-4">
    <div class="font-md regular">Stay updated</div>
    <p class="color-2 mb-5">
      By registering with us you will receive right in your inbox all new
      features and updates
    </p>
    <div class="row">
      <div class="col-12 col-md-6 mx-auto overflow-hidden">
        <form
          action="srv/register.php"
          class="form"
          data-response-message-animation="slide-in-left"
        >
          <div class="input-group">
            <input
              type="email"
              name="Subscribe[email]"
              class="form-control rounded-circle-left"
              placeholder="Enter your email"
              required
            />
            <div class="input-group-append">
              <button class="btn btn-rounded btn-accent" type="submit">
                Register
              </button>
            </div>
          </div>
        </form>
        <div class="response-message">
          <i class="fas fa-envelope font-lg"></i>
          <p class="font-md m-0">Check your email</p>
          <p class="response">
            We sent you an email with a link to get started. You’ll be in your
            account in no time.
          </p>
        </div>
      </div>
    </div>
    <hr class="mt-5" />
    <!-- <nav class="nav social-icons justify-content-center mt-4">
      <a href="#" class="mr-3 font-regular color-2">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="#" class="mr-3 font-regular color-2">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="#" class="mr-3 font-regular color-2">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="#" class="mr-3 font-regular color-2">
        <i class="fab fa-github"></i>
      </a>
      <a href="#" class="font-regular color-2">
        <i class="fab fa-linkedin-in"></i>
      </a>
    </nav> -->
    <p class="small copyright color-2">
      © 2019 <a href="https://ideator.dominic-seitz.de">Dominic Seitz</a> · Made
      with
      <i class="fas fa-heart" style="color: #be1931;"></i>
      in Karlsruhe.
    </p>
  </div>
</footer>
