<head>
  <meta charset="utf-8" />
  <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge"/><![endif]-->
  <title>Dashcore - Premium Software & Startup HTML</title>
  <meta name="description" content="" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <!-- Place favicon.ico in the root directory -->
  <link
    rel="apple-touch-icon"
    href="{{ '/static/apple-touch-icon.png' | asseturl }}"
  />
  <link rel="icon" href="{{ '/static/favicon.ico' | asseturl }}" />
  <link
    href="https://fonts.googleapis.com/css?family=Poppins:100,300,400,700,900"
    rel="stylesheet"
  />
  <!-- <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800" rel="stylesheet"> -->
  <link
    href="https://fonts.googleapis.com/css?family=Caveat"
    rel="stylesheet"
  />

  <!-- themeforest:css -->
  <link rel="stylesheet" href="{{ '/static/css/aos.css' | asseturl }}" />
  <link rel="stylesheet" href="{{ '/static/css/bootstrap.css' | asseturl }}" />
  <link
    rel="stylesheet"
    href="{{ '/static/css/cookieconsent.min.css' | asseturl }}"
  />
  <link
    rel="stylesheet"
    href="{{ '/static/css/fontawesome-all.css' | asseturl }}"
  />
  <link rel="stylesheet" href="{{ '/static/css/helper.css' | asseturl }}" />
  <link
    rel="stylesheet"
    href="{{ '/static/css/magnific-popup.css' | asseturl }}"
  />
  <link
    rel="stylesheet"
    href="{{ '/static/css/odometer-theme-minimal.css' | asseturl }}"
  />
  <link
    rel="stylesheet"
    href="{{ '/static/css/pe-icon-7-stroke.css' | asseturl }}"
  />
  <link rel="stylesheet" href="{{ '/static/css/prettify.css' | asseturl }}" />
  <link rel="stylesheet" href="{{ '/static/css/simplebar.css' | asseturl }}" />
  <link
    rel="stylesheet"
    href="{{ '/static/css/smart_wizard.css' | asseturl }}"
  />
  <link
    rel="stylesheet"
    href="{{ '/static/css/smart_wizard_theme_arrows.css' | asseturl }}"
  />
  <link
    rel="stylesheet"
    href="{{ '/static/css/smart_wizard_theme_circles.css' | asseturl }}"
  />
  <link
    rel="stylesheet"
    href="{{ '/static/css/smart_wizard_theme_dots.css' | asseturl }}"
  />
  <link rel="stylesheet" href="{{ '/static/css/swiper.css' | asseturl }}" />
  <link rel="stylesheet" href="{{ '/static/css/styles.css' | asseturl }}" />
  <!-- endinject -->
</head>
