<!-- Making stripe menu -->
<nav class="st-nav navbar main-nav navigation fixed-top">
  <div class="container">
    <ul class="st-nav-menu nav navbar-nav">
      <li class="st-nav-section nav-item">
        <a href="#main" class="navbar-brand">
          <img
            src="{{ '/static/img/logo.png' | asseturl }}"
            alt="Dashcore"
            class="logo logo-sticky d-block d-md-none"
          />
          <img
            src="{{ '/static/img/logo-light.png' | asseturl }}"
            alt="Dashcore"
            class="logo d-none d-md-block"
          />
        </a>
      </li>
      <li class="st-nav-section st-nav-primary nav-item">
        <a class="st-root-link nav-link" href="index.html">Home </a>
        <a class="st-root-link nav-link" href="index.html">Blocks </a>
        <a class="st-root-link nav-link" href="index.html">Pages </a>
        <a class="st-root-link nav-link" href="index.html">UI Components </a>
        <a class="st-root-link nav-link" href="blog/blog-grid.html">Blog</a>
      </li>
      <li class="st-nav-section st-nav-secondary nav-item">
        <a
          class="btn btn-rounded btn-outline mr-3 px-3"
          href="login.html"
          target="_blank"
        >
          <i class="fas fa-sign-in-alt d-none d-md-inline mr-md-0 mr-lg-2"></i>
          <span class="d-md-none d-lg-inline">Login</span>
        </a>
        <a
          class="btn btn-rounded btn-solid px-3"
          href="signup.html"
          target="_blank"
        >
          <i class="fas fa-user-plus d-none d-md-inline mr-md-0 mr-lg-2"></i>
          <span class="d-md-none d-lg-inline">Signup</span>
        </a>
      </li>
      <li class="st-nav-section st-nav-mobile nav-item">
        <button class="st-root-link navbar-toggler" type="button">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <div class="st-popup">
          <div class="st-popup-container">
            <a class="st-popup-close-button">Close</a>
            <div class="st-dropdown-content-group">
              <h4 class="text-uppercase regular">Pages</h4>
              <a class="regular text-primary" href="about.html">
                <i class="far fa-building icon"></i> About
              </a>
              <a class="regular text-success" href="contact.html">
                <i class="far fa-envelope icon"></i> Contact
              </a>
              <a class="regular text-warning" href="pricing.html">
                <i class="fas fa-hand-holding-usd icon"></i> Pricing
              </a>
              <a class="regular text-info" href="faqs.html">
                <i class="far fa-question-circle icon"></i> FAQs</a
              >
            </div>
            <div class="st-dropdown-content-group b-t bw-2">
              <h4 class="text-uppercase regular">Components</h4>
              <div class="row">
                <div class="col mr-4"></div>
              </div>
            </div>
            <div class="st-dropdown-content-group bg-6 b-t">
              <a href="login.html"
                >Sign in
                <i class="fas fa-arrow-right"></i>
              </a>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div class="st-dropdown-root">
    <div class="st-dropdown-bg">
      <div class="st-alt-bg"></div>
    </div>
    <div class="st-dropdown-arrow"></div>
    <div class="st-dropdown-container"></div>
  </div>
</nav>
