<!-- themeforest:js -->
<script src="{{ '/static/js/01.cookie-consent-util.js' | asseturl }}"></script>
<script src="{{
    '/static/js/02.1.cookie-consent-themes.js' | asseturl
  }}"></script>
<script src="{{
    '/static/js/02.2.cookie-consent-custom-css.js' | asseturl
  }}"></script>
<script src="{{
    '/static/js/02.3.cookie-consent-informational.js' | asseturl
  }}"></script>
<script src="{{
    '/static/js/02.4.cookie-consent-opt-out.js' | asseturl
  }}"></script>
<script src="{{
    '/static/js/02.5.cookie-consent-opt-in.js' | asseturl
  }}"></script>
<script src="{{
    '/static/js/02.6.cookie-consent-location.js' | asseturl
  }}"></script>

<script src="{{ '/static/js/jquery.js' | asseturl }}"></script>
<script src="{{ '/static/js/jquery.animatebar.js' | asseturl }}"></script>
<script src="{{ '/static/js/odometer.min.js' | asseturl }}"></script>
<script src="{{ '/static/js/simplebar.js' | asseturl }}"></script>
<script src="{{ '/static/js/swiper.js' | asseturl }}"></script>
<script src="{{ '/static/js/popper.js' | asseturl }}"></script>
<script src="{{ '/static/js/jquery.easing.min.js' | asseturl }}"></script>
<script src="{{ '/static/js/jquery.validate.js' | asseturl }}"></script>
<script src="{{ '/static/js/jquery.smartWizard.js' | asseturl }}"></script>
<script src="{{ '/static/js/bootstrap.js' | asseturl }}"></script>
<script src="{{ '/static/js/jquery.waypoints.js' | asseturl }}"></script>
<script src="{{ '/static/js/jquery.counterup.js' | asseturl }}"></script>
<script src="{{ '/static/js/modernizr-2.8.3.min.js' | asseturl }}"></script>
<script src="{{ '/static/js/aos.js' | asseturl }}"></script>
<script src="{{ '/static/js/particles.js' | asseturl }}"></script>
<script src="{{ '/static/js/typed.js' | asseturl }}"></script>
<script src="{{ '/static/js/prettify.js' | asseturl }}"></script>
<script src="{{ '/static/js/jquery.magnific-popup.js' | asseturl }}"></script>
<script src="{{ '/static/js/cookieconsent.min.js' | asseturl }}"></script>
<script src="{{ '/static/js/common-script.js' | asseturl }}"></script>
<script src="{{ '/static/js/forms.js' | asseturl }}"></script>
<script src="{{ '/static/js/site.js' | asseturl }}"></script>
<script src="{{ '/static/js/stripe-menu.js' | asseturl }}"></script>
<!-- endinject -->
